# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe
*.out
*.app

# Microsoft Visual Studio C++ Files
*.user
*.sln
*.ncb
*.suo
*.obj
*.pdb
*.ilk
*.exe
*.idb

#Thumbs
Thumbs.db

#Debug folder
src/Debug/